{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Title</title>
  <link rel="stylesheet" href="/static/libs/normalize.css"/>
  <link rel="stylesheet" href="{% static 'index-15a243a3163309ef11c0.css' %}" />
  <link rel="icon shortcut" href="/static/icon/favicon.ico" />
</head>
<body>

<div id="root"></div>

<script src="{% static 'index-15a243a3163309ef11c0.js' %}"></script>

</body>
</html>
